{{!--<div class="nav">--}}
{{!--    <h3 class="nav-title">Menu</h3>--}}
{{!--    <a href="#" class="nav-close">--}}
{{!--        <span class="hidden">Close</span>--}}
{{!--    </a>--}}

{{!--    <ul>--}}
{{!--        {{#foreach navigation}}--}}
{{!--            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">Home<a href="{{url absolute="true"}}">{{label}}</a></li>--}}
            {{!--<li class="nav-{{contact}}{{#if current}} nav-current{{/if}}" role="presentation">Contact<a href="{{url absolute="true"}}">{{label}}</a></li>--}}
            {{!--<li class="nav-{{portfolio}}{{#if current}} nav-current{{/if}}" role="presentation">Portfolio<a href="{{url absolute="true"}}">{{label}}</a></li>--}}
            
{{!--        {{/foreach}}--}}
{{!--    </ul>--}}
{{!--    {{#if @labs.subscribers}}--}}
{{!--        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>--}}
{{!--    {{else}}--}}
{{!--        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>--}}
{{!--    {{/if}}--}}
{{!--</div>--}}
{{!--<span class="nav-cover"></span>--}}


{{!--NEW WAY, WITH HARDCODING THE CSS--}}
<div class="navigation">
    {{#foreach navigation}}
        <div class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></div>
    {{/foreach}}
</div>

<style>
    .navigation {
        display: flex;
        display: -webkit-flex;
        position: fixed; /* stick the nav */
        width: 100%; /* make the nav full width of the screen */
        top: 0;/* keep nav stuck at the very top of the screen */
        height: 50px;
        z-index: 100; /* move nav to the front of the content */

        text-align: center; /* styling */
        background-color: black; /* styling */
    }

    .site-wrapper {
        margin-top: 50px; /* This is here to keep content from going behind the menu on page load */
    }

    .navigation div {
        flex: 1;
        -webkit-flex: 1;
        align-self: center; /* styling */
        -webkit-align-self: center; /* styling */
    }

    .navigation div a {
        color: white; /* styling */
    }
</style>